doctype html
html(lang='en')
  head
    title Brunch with Foo
    link(href='app.css', rel='stylesheet')
  body
    h1 Brunch with Foo
    p Placeholder for something awesome
    script(src='js/app.js')
